/* color */
:root {
  --color_title: #080808;
  --color_title_rgb: 8,8,8;
  --color_body: #101010;
  --color_body_rgb: 16,16,16;
  --color_caption1: #404040;
  --color_caption1_rgb: 64,64,64;
  --color_caption2: #606060;
  --color_caption2_rgb: 96,96,96;
  --color_search: #000;
  --color_search_rgb: 0,0,0;
  --color_border_out: #e3e5e8;
  --color_border_out_rgb: 227,229,232;
  --color_border_in: #ebebeb;
  --color_border_in_rgb: 235,235,235;
  --color_border_in_divider: #ebebeb;
  --color_border_in_divider_rgb: 235,235,235;
  --color_border_in_exception: #ebebeb;
  --color_border_in_exception_rgb: 235,235,235;
  --color_button_border: #dadcdf;
  --color_button_border_rgb: 218,220,223;
  --color_dot_divider: #d3d5d7;
  --color_dot_divider_rgb: 211,213,215;
  --color_inline-flex_bg: #fff;
  --color_block_bg_rgb: 255,255,255;
  --color_board_bg: #f4f6fa;
  --color_board_bg_rgb: 244,246,250;
  --color_option_bg: #f5f7f8;
  --color_option_bg_rgb: 245,247,248;
  --color_login_bg: #fafbfb;
  --color_login_bg_rgb: 250,251,251;
  --color_menu_widget_bg: #fff;
  --color_menu_widget_bg_rgb: 255,255,255;
  --color_setting_bg: #fff;
  --color_setting_bg_rgb: 255,255,255;
  --color_button1_bg: #fff;
  --color_button1_bg_rgb: 255,255,255;
  --color_button2_bg: #fff;
  --color_button2_bg_rgb: 255,255,255;
  --color_news: #3a67ea;
  --color_news_rgb: 58,103,234;
  --color_news_econ_stay: #909aab;
  --color_news_econ_stay_rgb: 144,154,171;
  --color_news_econ_down: #4f67d6;
  --color_news_econ_down_rgb: 79,103,214;
  --color_live_news_price: #f4361e;
  --color_live_news_price_rgb: 244,54,30;
  --color_enter: #e538e2;
  --color_enter_rgb: 229,56,226;
  --color_enter_bg: #f2f1fb;
  --color_enter_bg_rgb: 242,241,251;

}

/* reset */
*{
  box-sizing: border-box;
 
}
body,
ul,
li,
h1,
h2,
h3,
p,
form {
  padding: 0;
  margin: 0;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
span,
form {
  font: inherit;
}

html
,body
{
  font-size: 10.5px;
  line-height: 10.5px;
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited{
  color: inherit;
}
button {
  font: inherit;
  border: 0;
  background: none;
  cursor: pointer;
}
button:enabled {
  cursor: pointer;
}
ul,
li {
  list-style: none;
}
/* 접근성을 위한 숨김처리 */
.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
/* 전체 화면 */
#wrap {
  text-align: center;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
/* 가운데 정렬 */
#wrap-center{
  width: 1280px;
  /*  block의 특성을 없애 가운데 정렬하는 방법 inline-block로 컨텐츠 크기만큼 차지
  display: inline-block;*/
  margin: 0 auto;

}


/* header */
#header{
  position: relative;
  height: 64px;
}
/* 상단 공통 부분 */
#header-hamberger,
#header-pay,
#header-notify{
  position: absolute;
  padding: 10px;
  top: 18px;
}
/* 기존의 클릭 버튼의 영역을 유지하면서 hover했을때 다지인 사이즈를 변경하기위해 before사용*/
#header-hamberger:hover::before,
#header-pay:hover::before,
#header-notify:hover::before{
  content: ' ';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  background-color: var(--color_option_bg);
  border-radius: 50%;
  /* z-index는 형제끼리만 가능 ,부모와 자식은 xx */
  z-index: 0;
}

#header-hamberger > div,
#header-pay > div,
#header-notify > div{
    /*  z-index를 적용하려면 position이 static이 아니여야 적용 가능 , relative(제자리 걸음) ,absolute둘중에 하나를 골라야함,위치의 흐름을 벗어나지 않기위해 relative로 적용 */
    position: relative;
    width: 26px;
    height: 26px;
    z-index: 1;
    background-image: url(./img-sp.png);
    background-size: 424px 409px;
    background-repeat: no-repeat;
}

/* 햄버거 버튼  */
#header-hamberger{
  /* 버튼 영역 확장 */
  left: -10px;
}
#header-hamberger > div{
  /* 좌우,상하 */
  background-position: -364px 0px;
}

/* 네이버 페이링크 */
#header-pay{
  right: 42px;
  padding: 10px 8px;
}
#header-pay > div{
  background-position: -31px -316px;
  width: 30px;

}
#header-pay:hover::before,
#header-notify:hover::before{
  top: 1px;
  left: 1px;
}
/* 네이버 알림버튼 */
#header-notify{
  right: -10px;
}
#header-notify > div{

  background-position: -364px -54px;
}


/* 검색 창 */
#search > form{
  width: 708px;
  height: 60px;
  display: inline-flex;
  border: 1px solid #03c75a;
  background-color: #FFF;
  border-radius: 33px;

}
#search > form:hover{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
}


/* a 태그(인라인에서 인라인 블록으로)*/
#search-svg{
  display: inline-flex;
  width: 68px;
  height: 100%;
  padding-left: 10px;
  margin-right:12px;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* form태그의 자식요소 중 focus발생 시 적용 */
/* #search > form:focus-within {
  background-color: red;
} */
/* form태그의 자식요소 중 focus발생 시 #search-svg::after 같이 적용하겠다 */
#search > form:focus-within #search-svg::after{

  content: ' ';
  width: 1px;
  height: 20px;
  position: absolute;
  right: 0px;
  top: 20px;
  background-color:  #e4e4e4;
}
/* 네이버 로고 */
#search-svg svg{
  width: 24px;
  height: 24px;
  /* svg를 보이게 */
  fill:#03c75a;
}
/* 검색창 input */
#search-input{

  display: inline-block;
  width: 480px;
  /* 부모의 heigth - 양쪽 border(60-2=58px) */
  height: 100%;
  padding: 17px 0;
  font-size: 2rem;
  line-height: 24px;
  border: none;
  outline: none;

}



/* input에 클릭해야(foucs) 나타남*/
#search-input::placeholder{

  color: transparent;
}
#search-input:focus::placeholder{

  color:#e4e4e4;

}
/* 검색창 왼쪽 버튼박스 */
#search-right{
  /* 부모(flex)로 부터 남는공간 안에서 다 차지함, 나머지는 다 너비 고정*/
  flex: 1;
  display: flex;
  /* 세로 너비를 다 포함하려고 stretch ,  center하면 딱 아이콘 크기만큼 정렬됨*/
  align-items: stretch;
  justify-content: flex-end;

}
/* 공통 왼쪽 버튼 */
/* .search-keyboard::before,
.search-recent::before,
.search-btn::before{
  content: " ";
  display: block;
  background-image:url(./img-sp.png);
  background-size: 424px 409px;
  background-repeat: no-repeat;
  
} */


.search-keyboard::before{
  content: " ";
  display: block;
  background-image:url(./img-sp.png);
  background-size: 424px 409px;
  background-repeat: no-repeat;
  width: 24px;
  height: 16px;
  background-position: -50px -270px;
}
/* 기존 이미지 수정일때 아래로 */
.search-keyboard:hover::before{

  filter: brightness(0.7);
}

.search-recent::before{
  content: " ";
  display: block;
  background-image:url(./img-sp.png);
  background-size: 424px 409px;
  background-repeat: no-repeat;
  width: 10px;
  height: 6px;
  background-position: -323px -170px;
  
}
.search-btn{
  padding: 17px 27px 16px 10px;
}
.search-btn::before{
  content: " ";
  display: block;
  background-image:url(./img-sp.png);
  background-size: 424px 409px;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-position: -364px -159px;
}
/* nav 바 */

#nav {
  margin-top: 12px;
}

#nav > ul{
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  line-height: 20px;
}
#nav > ul li{
  width: 64px;
  /* 기본적으로는 높이 값은 고정해서 주지말자! 자식콘텐츠에 맞게 알아서 조절된다 */
  /* height: 75px; */
  margin-left:4px;
  position: relative;
}
#nav > ul li a{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;

}
#nav > ul li:nth-of-type(1){
  /* 첫번 째 li만 적용x */
  margin-left:0;
}
#nav > ul li a::before,
#nav > ul li button::before{
  content: ' ';
  display: block;
  background-image:url(./img-sp.png);
  background-size: 424px 409px;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  margin: 2px;
}
#nav > ul li a::after,
#nav > ul li button::after{
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 5px;
  background-image:url(./img-sp.png);
  background-size: 424px 409px;
  background-position: 0px -128px;
  background-repeat: no-repeat;
  width: 54px;
  height: 54px;
  z-index: -1;
}



#nav .nav-btn{
  height: 48px;
}
.nav-mail::before{
  background-position: -250px -90px;
}
.nav-cafe::before{
  background-position: -250px 0px;
}
.nav-blog::before{
  background-position: -201px -98px;
}
.nav-shopping::before{
  background-position: -90px -209px;
}
.nav-news::before{
  background-position: 0px -209px;
}
.nav-stock::before{
  background-position: -180px -209px
}
.nav-resl::before{
  background-position: -45px -209px;
}
#nav > ul li .nav-map::before{
  width: 48px;
  height: 48px;
  margin: 0;
  background-position: -201px 0px;

}
.nav-webton::before{
  background-position: -225px -209px;
}
#nav > ul li button::before{
  background-position: -250px -136px;

}
/* 메인 페이지 */

#main{
  display: flex;
  margin-top: 51px;
  height: 2000px;
  gap: 30px;
}

.main-left{
  width: 830px;

}
.main-right{
  width: 420px;

}
/* 공통인 부분 찾기 -> 같이 묶어서 구현 */
section[class^=main]{
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0,0,0,.04);
  border-radius: 8px;
  margin-bottom: 16px;
} 
/* ad로 끝나는 클래스 */
aside[class$= ad] {
  background-color: gray;
  border-radius: 8px;
  margin-bottom: 16px;
}

.main-left-ad{
  
  height: 130px;
}

.main-right-ad{
  height: 240px;
}

/*  */

.main-newstand{
  height: 426px;

 
}
.main-shopping{

  height: 560px;
  
}

/* 로그인 폼 */
.main-login{
  height: 164px;
  padding: 21px 20px 18px;
  /* text한 줄 높이 -> 콘텐츠의 높이가 된다 */
  line-height: 20px;
  /* text간의 간격 조정 */
  letter-spacing: -0.4px;
}
.main-login-title{
  font-size: 1.4rem;
  margin-bottom: 13px;
}
.main-login-btn{
  height: 56px;
  display: block;
  background-color: #03c75a;
  padding: 17px 0;
  border: 1px solid rgba(0,0,0,.06);
  border-radius: 4px;
  color: #fff;
  font-size: 1.4rem;
}
.main-login-btn i{
  background: url(./img-sp.png) -120px -166px /424px 409px no-repeat;
  width: 72px;
  height: 14px;
  display: inline-block;
  margin: 3px 8px 0 0;
  /* 로그인 옆에 text가 움직임 */
  vertical-align: -1px;
}
.main-login-list{
  font-size: 1.3rem;
  color: #606060;
  margin-top: 16px;
  display: flex;
  justify-content: center;
}
.main-login-list li{
  display: flex;
  align-items: center;

}
.main-login-list li a{
  display: inline-block;
}
.main-login-list li a:hover{
  text-decoration: underline;
}
.main-login-list li:nth-of-type(2)::before,
.main-login-list li:nth-of-type(2)::after
{
  content: '  ';
  display: inline-block;
  width: 1px;
  height: 12px;
  background-color: var(--color_dot_divider);
  margin: 4px 12px 0;
  
}
/* 뉴스,증권 */
.main-weather-stock{
  padding: 0 18px;
}
.main-weather-stock header{
  padding: 6px 0;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-weather-stock header div{
  display: flex;
  align-items: center;
}
.main-weather-stock header span{
  color: var(--color_caption2);
  font-size: 1.3rem;
}
.main-weather-stock-title{
  vertical-align: top;
  font-size: 1.5rem;
  font-weight: 800;  
  padding-right: 7px;
}
.main-weather-stock-title:hover{
  text-decoration: underline;
}
.main-weather-desc{
  position: relative;
  border: 1px solid var(--color_border_in_divider);
  border-radius: 15px;
  font-size: 1.1rem;
  line-height: 25px;
  padding: 0 10px 0 7px;
}
.main-weather-desc::before{
  content: ' ';
  display: inline-block;
  vertical-align:  top;
  width: 12px;
  height: 12px;
  background: url(./img-sp.png)  -412px 0px /  424px 409px no-repeat;
  margin-right: 2px;
  margin-top: 6px;
}

.main-stock-plus{
  width: 20px;
  height: 20px;
  position: relative;
  left: -3px;
}
.main-stock-plus::before{
  content: ' ';
  position: absolute;
  width: 14px;
  height: 14px;
  top: 3px;
  left: 3px;
  background: url(./img-sp.png)  -347px -316px /  424px 409px no-repeat;
}
/* 날씨 */
#main-weather{
  height: 236px;

}
/* 증권 */
#main-stock{
  height: 236px;

}

.main-weather-stock-content{
border-top: 1px solid var(--color_border_in);
}

/* 뉴스스탠드 */
.main-newstand{
  display: flex;
  flex-flow: column;
  height: 450px;
}
#main-newstand-top{
  /* 최대한 영역을 차지함 */
  flex: 1;
  padding: 18px 20px 0px 20px;;
}
#main-newstand-top .dot,
#main-newstand-top .slash{
  padding-left: 26px;
  position: relative;
}
#main-newstand-top .dot::before{
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  top:50%;
  left: 13px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--color_dot_divider);

}
#main-newstand-top .slash::before{
  content: '';
  position: absolute;
  top: 4px;
  left: 13px;
  width: 1px;
  height: 15px;
  background-color: var(--color_dot_divider);
  transform: skewX(-15deg);
}

.main-newstand a:hover,
.main-shopping a:hover{
  text-decoration: underline;
}

.main-newstand-shopping-header{

  /*  */
  line-height: 23px;
}
.main-newstand-header-title{
  font-size: 1.6rem;
  color: rgba(8,8,8,.5);
  display: flex;
  /* 왼쪽 정렬 */
  justify-content: flex-start;
  /* line-height는 px붙혀야 함 */
  line-height: 23px;
  margin-bottom: 17px;
}



/* 공통 폰트 볼드 */
.bold{
  color: var(--color_title);
  font-weight: 800;
}
#main-newstand-shopping-gray{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  height: 50px;
  padding: 12px 20px;
  background-color: var(--color_option_bg);
  border-radius: 4px;
}

#main-newstand-shopping-gray .left{
  display: flex;
}

/* 전체 언론사 부분 */
#main-newstand-shopping-gray .left > a:first-of-type{
  width: 85px;
  position: relative;

}
#main-newstand-shopping-gray .left > a:first-of-type i {
  margin-left: 5px;
  vertical-align: 2px;
}
#main-newstand-animation {
  display: flex;
  align-items: center;
}

/*  뉴스타이틀  */
#main-newstand-animation a:first-of-type{
  padding-left: 20px;
  position: relative;

}

/* 뉴스타이틀 앞에 선 */
#main-newstand-animation a:first-of-type::before{
  content: '';
  position: absolute;
  top: 5px;
  left: 10px;
  width: 1px;
  height: 15px;
  background-color: var(--color_dot_divider);
}

/* 뉴스 한줄 말 줄임 */
#main-newstand-animation .newstand-desc{
  display: inline-block;
  width: 430px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 11px;
  position: relative;
}
/*  뉴스타이틀 뒤에 점 */
#main-newstand-animation .newstand-desc::before{
  content : '';
  display: inline-block;
  width: 3px;
  height: 3px;
  background-color: var(--color_dot_divider);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 5px;
}

/* 뉴스 그레이 오른쪽 부분 */
#main-newstand-shopping-gray .right{
display: flex;
}

#main-newstand-shopping-gray .right .stend{
  padding-right: 25px;
  position: relative;
}
#main-newstand-shopping-gray .right .stend::before{
  content: '';
  position: absolute;
  top: 4px;
  right: 12px;
  width: 1px;
  height: 15px;
  background-color: var(--color_dot_divider);
}

.main-newstand-grid{
  /* 격자모양 일 때 grid사용 */
  display: grid;
  /* 사이즈를 지정해줘야 함 */
  width: 790px;
  height: 244px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat( 4 , 1fr);
  font-size: 1.4rem;
  border: 1px solid rgba(0,0,0,.06);
  border-radius: 4px;
  box-sizing: border-box;
  margin: 18px 0px;
  /* border -  안쪽 border와 바깥쪽 border이 안겹치게 gird-gap으로 1px 주고 색으루 부여*/
  grid-gap : 1px;
  background-color: var(--color_border_in);
}
.main-newstand-grid div{
  display: flex;
  align-items: center;
  justify-content: center;
  /* 그 안쪽 자식에게  background를 white 주면 안쪽 선이 보임 */
  background-color: white;
}

/* 뉴스스탠드 푸터 */
.main-newstand-shopping-footer{
  border-top: 1px solid var(--color_border_in);
  padding: 10px 0 11px;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  position: relative;
}

/* 이전 이후 버튼그룹 */
.main-newstand-shopping-footer .btn-group{
  display: flex;
  align-items: center;
}

/* 버튼 그룹안에 텍스트 */
.main-newstand-shopping-footer .btn-group .news{
  color: var(--color_news);
}

.main-newstand-shopping-footer .btn-group .total{
  color: rgba(95,95,95,0.5)
}


.main-newstand-shopping-footer .text{
  padding: 0 16px;;
  min-width: 156px;
}
/* 이전 , 다음 공통 스타일 */
.main-newstand-shopping-footer .btn-prev,
.main-newstand-shopping-footer .btn-next{
  width: 36px;
  height: 36px;
  border: 1px solid var(--color_button_border);
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-newstand-shopping-footer .btn-prev::before,
.main-newstand-shopping-footer .btn-next::before{
  content: '';
  display: block;
  background: url(./img-sp.png);
  background-size: 422px 405px;
  background-position: -410px -64px;
  background-repeat: no-repeat;
  width: 10px;
  height: 12px;

}
/* 이전 버튼 */
.main-newstand-shopping-footer .btn-prev::before{
  transform: rotate(180deg);
}
/* 맨 왼쪽 버튼들 */
.main-newstand-shopping-footer .list,
.main-newstand-shopping-footer .grid{
  position: absolute;
  border: none;
  cursor: pointer;
  top: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  
}
/* 목록보기 버튼 */
.main-newstand-shopping-footer .list{
  right: 50px;
  padding: 19px 9px 18px 20px;

}

.main-newstand-shopping-footer .list::before,
.main-newstand-shopping-footer .grid::before{
  content: '';
  display: inline-block;
  background : url(./img-sp.png);
  background-size: 422px 406px;
  background-position: -107px -368px;
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
}
/* 격자보기 버튼 */
.main-newstand-shopping-footer .grid::before{
  background-position: -359px -368px;
}

.main-newstand-shopping-footer .grid{
  right: 0;
  padding: 19px 20px 18px 9px;
}
.main-newstand-shopping-footer .list:hover::before{
  background-position: -86px -368px;
}

/* 뉴스 스탠드 끝 */


/* 쇼핑 */